<h1>About Meadowlark Travel</h1>
{{#if fortune}}
 <p>Your fortune for the day:</p>
 <blockquote>{{fortune}}</blockquote>
{{/if}}

<p>Questions? Checkout out our
<a href="/about" data-test-id="about">About Us</a> page!</p>

{{!-- <h2> truyền tham số vào để làm trang web động</h2> --}}